@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');
*{
    box-sizing: border-box;
}
body{
    height: 1fr;
    width: 1fr;
    display: grid;
    grid-template-columns: 30px auto 30px;
    background-color: grey;
    min-height: 250px;
    min-width: 250px;
}
.back {
    grid-area: 1 / 1 / 1 / 2;
    text-align: right;
    background-color: rgb(223, 80, 28);
}
.contenido {
    grid-area: 1 / 2 / 1 / 3;
    background-color: white;
}
.next {
    grid-area: 1 / 3 / 1 / 4;
    background-color: rgb(223, 80, 28);
}
.calendar {
    display: grid;
    grid-template-columns: auto auto auto;
}
.day-of-week {
    display: grid;
    padding: 2px;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(255, 255, 255);
}

.days-name {
    background-color: rgb(39, 118, 221);
    border: 1px solid black;
    border-spacing: 1px;
    text-align: center;
    color: white;
}
.table {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
